<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AmazonSuite">
  <test name="AmazonTest">
    <classes>
      <class name="Mobile_Test_Class.Mobile_Test_Class"/>
    </classes>
  </test> <!-- AmazonTest -->
</suite> <!-- AmazonSuite -->
